<form [formGroup]="form" autocomplete="off" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-form-field fxFlex="50">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" aria-label="Nome"/>
        <!-- <mat-error *ngIf="form.get('usuario').errors">
            {{ form.get('name').errors | humanizeFormMessages : 'Usuário' }}
        </mat-error> -->
    </mat-form-field>
    <mat-form-field fxFlex="50">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="phone" aria-label="Telefone" [textMask]="{mask: phoneMask}" />
    </mat-form-field>
    <button mat-icon-button (click)="onAddPerson()" matTooltip="Adicionar pessoa a lista"
        [disabled]="!form.get('name')?.value || !form.get('phone')?.value">
        <mat-icon>add</mat-icon>
    </button>
</form>