<table mat-table [dataSource]="registros" class="mat-elevation-z8 table" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nome">
          Nome
        </th>
        <td mat-cell *matCellDef="let registro"> {{ registro.name }} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let registro">{{ registro.phone }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let registro">            
            <button mat-icon-button color="warn" aria-label="Excluir" (click)="onDelete(registro.phone)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>